<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 获取网络状态，根据网络状态切换进行数据请求网络转换 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 写外置存储。如果开发者使用了离线地图，并且数据写在外置存储区域，则需要申请该权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读取外置存储。如果开发者使用了so动态加载功能并且把so文件放在了外置存储区域，则需要申请该权限，否则不需要 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 访问网络，进行地图相关业务数据请求，包括地图数据，路线规划，POI检索等 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 调用相机，用于实现扫描二维码，预览个性化地图编辑器生成的个性化地图样式（开发者实际开发中地图SDK不需要该权限） -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" /><!--后面三个都是扫描二维码要用到的-->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/yuemiao_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MySchool"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".teambookpage.ScanActivity"
            android:exported="false" />
        <activity
            android:name=".teambookpage.TeamBookActivity"
            android:exported="false" />
        <activity
            android:name=".clinicmappage.ClinicMapActivity"
            android:exported="false" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="u8YbhtgNIopwWFDRflQ0KHmXaIlCZBHR" />

        <activity
            android:name=".personpage.inoculatepage.InoculateEditActivity"
            android:exported="false" />
        <activity
            android:name=".personpage.inoculatepage.InoculateListActivity"
            android:exported="false" />
        <activity
            android:name=".personpage.PersonPageActivity"
            android:exported="false" />
        <activity
            android:name=".homepage.moreservice.MoreServiceActivity"
            android:exported="false" />
        <activity
            android:name=".personpage.inoculatepage.InoculateInfoPageActivity"
            android:exported="false" />
        <activity
            android:name=".common.NewsArticleContentActivity"
            android:exported="false" /> <!-- 首页作为MainActivity -->
        <activity
            android:name=".homepage.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.SZU_PAGE" /> <!-- 登录页面作为主活动 -->
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.SZU_PAGE">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>